<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Okul_Projesi.Properties.Settings.OkulProjesiConnectionString"
            connectionString="Data Source=DESKTOP-HKI8OF4;Initial Catalog=OkulProjesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>